<div class="container mt-5">
  <div class="row">

    <!--
    <div class="col-md-4">
      <div class="card p-3">
        <div class="d-flex flex-row mb-3"><img src="https://cdn-icons-png.flaticon.com/512/4345/4345672.png" width="70">
          <div class="d-flex flex-column ml-2"><span>3ème collège</span><span class="text-black-50">La dernière année scolaire au collège.</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
        </div>
        <h6>Les élèves du 3ème collège doivent passer et réussir un examen normalisé avant de poursuivre leur scolarité au lycée.</h6>
        <div class="d-flex justify-content-between install mt-3"><span>Plus d'informations</span>
          <span class="text-primary">
             <a href="https://www.9rayti.com/college/3eme-college" target="_blank" class="text-primary">
            View&nbsp;<i class="fa fa-angle-right"></i></a></span></div>
      </div>
    </div>
    -->

    <div class="col-md-4">
      <div class="card p-3">
        <div class="d-flex flex-row mb-3"><img src="https://png.pngtree.com/png-clipart/20230811/original/pngtree-freshman-rgb-color-icon-high-school-pupil-starter-vector-picture-image_10369564.png" width="70">
          <div class="d-flex flex-column ml-2"><span>Tronc Commun</span><span class="text-black-50">Première année du lycée </span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
        </div>
        <h6> L’appellation octroyée à la première année de lycée étant donné qu’il s’agit d’une année d’initiation à la branche choisie après avoir réussi sa 3ème année de collège au Maroc.</h6>
        <div class="d-flex justify-content-between install mt-3"><span>Plus d'informations</span>
          <span class="text-primary">
             <a href="https://www.9rayti.com/lycee/tronc-commun" target="_blank" class="text-primary">
            View&nbsp;<i class="fa fa-angle-right"></i></a></span></div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-3">
        <div class="d-flex flex-row mb-3"><img src="https://scontent.fcmn5-2.fna.fbcdn.net/v/t39.30808-6/272965093_469639838236259_1058906101141002217_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=lsUE8faw8wMQ7kNvgFnlp6J&_nc_zt=23&_nc_ht=scontent.fcmn5-2.fna&oh=00_AYB6yR-7y561303u79gwkq1KTfosIpwhd8BPCRBiFhBrQg&oe=668BF2DC" width="70">
          <div class="d-flex flex-column ml-2"><span>1ère Baccalauréat</span><span class="text-black-50">Deuxième année du lycée </span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
        </div>
        <h6>Si vous êtes en 1ère année du baccalauréat, vous aurez sûrement besoin de bien vous préparer pour l’examen régional, on vous conseille absolument de vous inscrire pour recevoir toutes nos nouveautés concernant la préparation de l’examen du régional.</h6>
        <div class="d-flex justify-content-between install mt-3"><span>Plus d'informations</span>
          <span class="text-primary">
             <a href="https://www.9rayti.com/lycee/1ere-baccalaureat" target="_blank" class="text-primary">
            View&nbsp;<i class="fa fa-angle-right"></i></a></span></div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-3">
        <div class="d-flex flex-row mb-3"><img src="https://play-lh.googleusercontent.com/0CCpizI-n51HDMrzrfnZYmSw35TOXygpXFf8-l4kJjaq_L_vcqEdPR1e-eMfwuuU9av9=w240-h480-rw" width="70">
          <div class="d-flex flex-column ml-2"><span>Baccalauréat</span><span class="text-black-50">Dernière année au lycée</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
        </div>
        <h6>Le Bac au Maroc est l’examen qui sanctionne les études secondaires et permet d’accéder aux études supérieures, soit dans les grandes écoles, classes préparatoires ou encore les facultés.</h6>
        <div class="d-flex justify-content-between install mt-3"><span>Plus d'informations</span>
          <span class="text-primary">
             <a href="https://www.9rayti.com/lycee/baccalaureat" target="_blank" class="text-primary">
               View&nbsp;<i class="fa fa-angle-right"></i></a></span></div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-3">
        <div class="d-flex flex-row mb-3"><img src="https://cms.digischool.fr/wp-content/uploads/2023/04/AdobeStock_61364263-1-min-scaled.jpeg" width="70">
          <div class="d-flex flex-column ml-2"><span>Post-Bac</span><span class="text-black-50"></span>Après le bac<span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
        </div>
        <h6>Les options d'études et de formation post-bac se distinguent par leur grande diversité. Que vous ayez déjà choisi votre orientation ou que vous soyez encore indécis, il est essentiel de vous concentrer sur l'élaboration d'un projet personnel et professionnel qui vous convient, en accord avec vos intérêts et vos aspirations.</h6>
        <div class="d-flex justify-content-between install mt-3"><span>Plus d'informations</span>
          <span class="text-primary"
          ><a href="https://www.9rayti.com/dossier/etablissements-enseignement-superieur-apres-bac-maroc" target="_blank" class="text-primary">
            View&nbsp;<i class="fa fa-angle-right"></i></a></span></div>
      </div>
    </div>



  </div>
</div>
